@import "../../../breakpoints.css";

.chat-content {
  width: 100%;
  max-width: var(--breakpoint-tablet);
  padding: 5px 28px 20px 28px;
  flex-direction: column;
  display: flex;
  overflow: hidden;

  &__messages {
    height: 100%;
    overflow: auto;
  }

  &__send-input {
    padding: 0 52px;
  }
}