@import "../../variables.css";

.call-actions {
  padding: 12px 18px 12px 12px;
  display: flex;

  &__action {
    margin-right: 8px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--color-purple);

    &:hover {
      background-color: var(--color-dark-purple);
      transition: background-color 0.1s linear;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin: 11px;
    fill: var(--color-white);
  }
}