@import "../../../assets/css/variables.css";

.call-actions {
  padding: 12px 18px 12px 12px;
  display: flex;

  &__dropdown {
    &-icon {
      display: flex;
    }

    &-items {
      margin-bottom: 15px;
    }
  }
}