@import "../../../../assets/css/variables.css";

.panel-requests-item {
  padding: 15px;
  cursor: pointer;
  justify-content: space-between;
  display: flex;

  &__user {
    &-name {
      color: var(--color-white);
    }

    &-status {
      background-color: var(--color-purple);
    }
  }
}