@import "../../../variables.css";

.dropdown-add-to-friends {
  display: flex;

  &__items {
    display: flex;
  }

  &__item {
    padding: 10px 14px;
  }

  &__search-input {
    width: 100%;
    color: var(--color-light-pink);

    &-container {
      margin: 20px 15px;
    }
  }
}