@import "../../../variables.css";

.panel-friends {
  list-style-type: none;
  overflow-y: auto;

  &__search-input {
    width: 286px;
    margin: 0 auto 15px auto;
    background-color: var(--color-purple);
    display: block;
  }
}